<div ngbDropdown #dropdownInstance="ngbDropdown">
  <label *ngIf="!readonly" class="position-relative">
    {{ caption }}
    <input
      type="text"
      class="form-control form-control-sm"
      [(ngModel)]="searchValue"
      (blur)="onBlur()"
      (ngModelChange)="getItemsToDisplay()"
      (click)="openDropdown()"
      [placeholder]="placeholder || ''"
      ngbDropdownAnchor
    />
  </label>

  <div *ngIf="readonly" class="position-relative">
    {{ caption }}
    <div
      tabindex="1"
      type="text"
      class="form-control form-control-sm div-input"
      (blur)="onBlur()"
      (click)="openDropdown()"
      appDropdownCleanAnchor
    >
      <ng-container
        *ngTemplateOutlet="displayTemplate || defaultDisplayTemplate; context: {$implicit: value || { name: placeholder  || '' }}"
      ></ng-container>
    </div>
    <div class="position-absolute dropdown-toggle"></div>
  </div>

  <div ngbDropdownMenu>
    <span *ngIf="!(displayObservable | async)" class="dropdown-item-text">Loading...</span>
    <span *ngIf="(displayObservable | async)?.length === 0" class="dropdown-item-text">Not Found</span>
    <button
      *ngFor="let item of displayObservable | async"
      (click)="selectItem(item)"
      class="dropdown-item"
    >
      <ng-container
        *ngTemplateOutlet="displayTemplate || defaultDisplayTemplate; context: {$implicit: item}"
      ></ng-container>
    </button>
  </div>
</div>

<ng-template #defaultDisplayTemplate let-item>
  {{ item.name }}
</ng-template>

<!--
     <app-contenteditable-input
      [(ngModel)]="searchValue"
      (blur)="onBlur()"
      (ngModelChange)="getItemsToDisplay()"
      (click)="openDropdown()"
      ngbDropdownAnchor
    ></app-contenteditable-input>
 -->
