.dropdown-item {
  cursor: pointer;
}

input[readonly] {
  background-color: white;
  cursor: pointer;
}

.dropdown-toggle {
  bottom: 4px;
  right: 10px;
}

div[contenteditable] {
  .dropdown-toggle {
    display: none;
  }
}

.div-input {
  cursor: pointer;
}
