<div class="app-container container">
  <div class="row justify-content-center">
    <div class="h3">Travel App</div>
  </div>
  <div class="row">
    <div class="col-12 col-md-3 navigation">
      <nav class="container-fluid">
        <div class="row">
          <div class="nav-link col-4 col-md-12" routerLink="/flights" routerLinkActive="active">
            <i class="fa fa-plane"></i>
            Flights
          </div>
          <div class="nav-link col-4 col-md-12" routerLink="/hotels" routerLinkActive="active">
            <i class="fa fa-hotel"></i>
            Hotels
          </div>
          <div class="nav-link col-4 col-md-12" routerLink="/cars" routerLinkActive="active">
            <i class="fa fa-car"></i>
            Cars
          </div>
        </div>
      </nav>
    </div>
    <div class="col-12 col-md-9">
      <router-outlet></router-outlet>
      <app-travel-history></app-travel-history>
    </div>
  </div>
</div>
