<form [formGroup]="form">
  <div class="row">
    <div class="col-6 form-group">
      <app-datepicker
        caption="Start Date"
        formControlName="startDate"
      ></app-datepicker>
    </div>
    <div class="col-6 form-group">
      <app-datepicker
        placement="bottom-right"
        caption="End Date"
        formControlName="endDate"
      ></app-datepicker>
    </div>
  </div>
  <div class="row">
    <div class="col form-group">
      <app-autodropdown
        caption="Location"
        formControlName="test"
        [itemsObservableFunction]="itemsObservableFunction"
      ></app-autodropdown>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button class="btn btn-link" type="button" (click)="reset()">clear</button>
      <button class="btn btn-success" type="button" (click)="search()" [disabled]="!form.valid">Search</button>
    </div>
  </div>

</form>
